body {
  margin: 0;
  padding: 0;
  font-family: lemon;
  background-image: url(/assets/images/blurred_backgrounds/blur_bg_3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

}

.logo {
  float: left;
}

.point {
  font-weight: bold;
  float: left;
  margin-right: 10px;
  color: #00ffff;
  font-family: "bradley hand", cursive;
  font-size: 35px;
}

.headerImage{
	height:400px;
	width: 95%;
  
}

.main-point{
  position: absolute;
  top: 8%;
  left: 55%;
  font-family: "bradley hand", cursive;
  color: #e6007a;
}

.navigation-links{
  font-family: "bradley hand", cursive;
  font-size:large;
  letter-spacing: 2px;
}

.player-bar{
  width:400px;
  margin: 0 auto;
  position: relative;
  left:0px;
  top: 260px;
  font-family: "bradley hand", cursive;
  color: #00FFFF;
}

.song-table{
  width: 420px;
  margin: 0 auto;
  font-family: "bradley hand", cursive;
  font-weight: bold;
  font-size:30px;
  color: #00FFFF;
  position: absolute;
  top: 39%;
  left: 32%;
}

.songTitle{
 background-color: transparent;
 border: none;
 font-size: 25px;
}

#album-title{
  color: #00ffff;
  font-family: "bradley hand", cursive;

}

.artist{
  color: #00ffff;
  font-family: "bradley hand", cursive;
}

#release-info{
  color: #00ffff;
  font-family: "bradley hand", cursive;
  font-size: 25px;
}

.songs{
  color: #00ffff;
  font-family: "bradley hand", cursive;
}

.cover{
  float: left;
  height: 300px;
  width: 500px;
  margin: 10px;
  position: relative;
  top: 65px;
  
}

#album-cover-art{
  height: 500px;
  width: 95%;
  opacity: .5;
}

.point-description{
  font-size: 18px;
  padding-left: 160px;
}

.point-title{
  text-align: right;
}

